:root {
  --primary-color: #A4876A;
  --secondary-color: #B0C9E1;
  --accent1-color: #606C38;
  --accent2-color: #ECF3F8;
  --font-family1: "Roboto", sans-serif;
  --font-family2: "Oswald", sans-serif;
  --font-style: normal;
  --font-weight: 400;
}

body {
    font-family: var(--font-family1);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

h1, h2 {
    font-family: var(--font-family2);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    color: var(--primary-color);
}

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  height: auto; 
  display: block;
}

.hero h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Oswald', sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 3.5rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  margin: 0;
  padding-left: 100%;
  padding-right: 100%;
}

.hero article {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(71, 133, 21, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 60%;
  text-align: left;
}

.hero article img {
  float: right;
  width: 400px;
  height: auto;
  margin-left: 15px;
  border-radius: 5px;
}

header {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 1rem auto;
  align-items: center;
  gap: 285px
}

header nav {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-right: 50px;
  background-color: var(--accent2-color);
  padding: 10px;
  border: 3px solid black;
}

header nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: large;
  background-color: var(--accent2-color);
}

header img {
  width: 200x;
  height: auto;
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin-left: 15rem;
}

footer {
  display: flex;
  justify-content: center;
  margin-left: 35rem;
}

footer p {
  font-size: larger;
}

.sociallinks {
  display: flex;
  margin-right: 4rem;
  margin-left: auto;
  gap: 20px;
}

main section h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}

main section article {
  display: flex;
  justify-content: center;
  gap: 15px
}

main section article img {
  width: 400px;
  height: auto;
}

.adventure figure img {
  display: flex;
  height: auto;
  width: 200px;
  gap: 10px;
}

.adventure {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}













